<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EssentialDeveloperFramework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FeedApiEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F40FF159226475ED00359F40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F40FF16B226475EF00359F40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F40FF176226475EF00359F40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4BA2BD72269DE1B0015EABC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4BA2BE62269E66F0015EABC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4BA2BEE2269E66F0015EABC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
